In [3]:
print("hello world")

hello world

In [ ]:
basic if program

In [15]:
a=0
if a>=0:
    print("the integer is positive")

the integer is positive

In [ ]:
if-else program

In [13]:
a=0
if a>=0:
    print("the integer is positive")
else:
    print("the integer is negative")

the integer is positive

In [ ]:
if-elif-else statement program

In [53]:
a=60
if (a>=90):
    print("you got A grade in the exam")
elif (a>=80 and a<=89):
    print("you got B grade in the exam")
elif (a>=70 and a<=79):
    print("you got C grade in the exam")
elif (a>=60 and a<=69):
    print("you got D grade in the exam")
else:
    print("you failed in the exam")

you got D grade in the exam

In [ ]:
basic list operations

In [61]:
list=[1,2,3,4,5]
print(list)
list.append(6)
print (list)
list.remove(3)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
slicing and indexing

In [68]:
number=[10,20,30,40,50]
print(number[2])

30

In [ ]:
dictionary

In [3]:
info ={
    "name":"umar",
    "age":20,
    "city":"peshawer"}
print(info)
info["country"]="pakistan"
print(info)

{'name': 'umar', 'age': 20, 'city': 'peshawer'}
{'name': 'umar', 'age': 20, 'city': 'peshawer', 'country': 'pakistan'}

In [ ]:
Accessing and Modifying Values:

In [9]:
print(info["age"])
info["age"]=25
print(info["age"])

20
25

In [ ]:
Basic Set Operations

In [13]:
number={1,2,3,4,5}
print(number)
number.remove(3)
print(number)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [ ]:
set operation

In [23]:
a={1,2,3}
b={3,4,5}
c=a|b
print(c)
c=a&b
print(c)

{1, 2, 3, 4, 5}
{3}

In [ ]:
Basic Tuple Operations:

In [33]:
a=(1,2,3,4,5)
print(a)
print("Tuples are immutable in Python, meaning their elements cannot be changed, added, or removed after creation. ")

(1, 2, 3, 4, 5)
Tuples are immutable in Python, meaning their elements cannot be changed, added, or removed after creation.

In [ ]:
Tuple Unpacking:

In [39]:
a=(10,20)
x,y,=a
print(x)
print(y)

10
20