# Lists

In [1]:
# Example of a list
fruits = ["apple", "banana", "cherry"]
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [2]:
# Accessing list elements
print(fruits[0])  # Output: apple

apple

In [3]:
# Adding an element to the list
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [4]:
# Removing an element from the list
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'orange']

['apple', 'cherry', 'orange']

# Dictionaries

In [5]:
# Example of a dictionary.
student = {"name": "John", "age": 25, "courses": ["Math", "CompSci"]}
print(student)  # Output: {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

In [6]:
# Accessing dictionary values
print(student["name"])  # Output: John

John

In [7]:
# Adding a new key-value pair
student["grade"] = "A"
print(student)  # Output: {'name': 'John', 'ag': 25, 'courses': ['Math', 'CompSci'], 'grade': 'A'}

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci'], 'grade': 'A'}

In [8]:
# Removing a key-value pair
del student["age"]
print(student)  # Output: {'name': 'John', 'courses': ['Math', 'CompSci'], 'grade': 'A'}

{'name': 'John', 'courses': ['Math', 'CompSci'], 'grade': 'A'}

# Sets

**A set is an unordered collection of unique items.**

In [9]:
# Example of a set
fruits_set = {"apple", "banana", "cherry"}
print(fruits_set)  # Output: {'apple', 'banana', 'cherry'}

{'cherry', 'banana', 'apple'}

In [10]:
# Adding an element to the set
fruits_set.add("orange")
print(fruits_set)  # Output: {'apple', 'banana', 'cherry', 'orange'}

{'cherry', 'banana', 'apple', 'orange'}

In [11]:
# Removing an element from the set
fruits_set.remove("banana")
print(fruits_set)  # Output: {'apple', 'cherry', 'orange'}

{'cherry', 'apple', 'orange'}

In [12]:
# Checking membership in a set
print("apple" in fruits_set)  # Output: True

True

# Tuples

**tuples are immutable, meaning their elements cannot be modified, added, or removed after creation.**

In [13]:
my_tuple = (1, 2, 3, 'hello')
my_tuple

(1, 2, 3, 'hello')

In [14]:
# adding to a tuple
my_tuple.add("Apple")
my_tuple

AttributeError: 'tuple' object has no attribute 'add'

**Note that we get an error while trying to add to a tuple**

**The same goes for removing**

In [15]:
my_tuple.remove('hello')
my_tuple

AttributeError: 'tuple' object has no attribute 'remove'