# import keyword

In [2]:
import keyword
a= keyword.kwlist
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
a=bin(12)
print(a)

0b1100

In [3]:
b=oct(12)
print(b)

0o14

In [4]:
c=hex(12)
print(c)

0xc

In [5]:
f=1.2E3
print(f)

1200.0

In [7]:
a = 10+1.2j
b = 20+3.2j
c = a+b
print(c)
print(c.real) #return real part(built-in method)
print(c.imag) #return imaginary part(built-in method)
print(type(c))

(30+4.4j)
30.0
4.4
<class 'complex'>

In [8]:
a = int(123.453)
print(a)

123

In [9]:
b = int(10+4j)
print(b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [10]:
c = int(True)
print(c)

1

In [11]:
d = int(False)
print(d)

0

In [12]:
e = int("10")
print(e)

10

In [13]:
f = int("10.5")
print(f)

ValueError: invalid literal for int() with base 10: '10.5'

# Arithmetic operator

In [14]:
a = 10.5
b = 2
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

12.5
8.5
5.25
5.0
0.5
110.25

In [15]:
a = "Ashir"
b = 2
c= a*b
print(c)

AshirAshir

In [16]:
a = "Ashir"
b = 2.5
c= a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'float'

In [17]:
a = "Ashir"
b = "Afridi"
c= a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

# Relational operator

In [21]:
a = "Ashir"
b = "Ashirr"
print("a is greator than b: ",a>b)
print("a is greator or equal to b: ",a>=b)
print("a is less than b: ",a<b)
print("a is less than or equal to b: ",a<=b)

a is greator than b:  False
a is greator or equal to b:  False
a is less than b:  True
a is less than or equal to b:  True

In [22]:
a = bin(10)
print(a)
b = bin(40)
print(b)

0b1010
0b101000

# Program for minimum of 3 numbers

In [23]:
a = int(input("Enter a number "))
b = int(input("Enter a second  number "))
c = int(input("Enter a third number "))
min = a if a<b and a < c else b if b<c else c
print("Minimum value " , min)

Enter a number 10
Enter a second  number 20
Enter a third number 30
Minimum value  10

In [ ]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
print("Both numbers are equal" if a==b else "First Number is Less than Second Number" if
a<b else "First Number Greater than Second Number")

In [7]:
a,b = [int(x) for x in input("Enter 2 numbers :").split()]
print("product is: " ,a*b)

Enter 2 numbers :4 5
product is:  20

In [11]:
a,b,c = [float(x) for x in input("Enter 3 numbers : ").split(',')]
print("The sum is :" , a+b+c)

Enter 3 numbers : 10.52.34.3

ValueError: could not convert string to float: '10.52.34.3'

In [13]:
from sys import argv
print(“The Number of Command Line Arguments:”, len(argv))
print(“The List of Command Line Arguments:”, argv)
print(“Command Line Arguments one by one:”)
for x in argv:
print(x)

SyntaxError: invalid character '“' (U+201C) (341671660.py, line 2)

# Write a program to find biggest of given 3 numbers from the commad prompt?

In [1]:
n1 = int(input("Enter a number one :"))
n2 = int(input("Enter a number Two :"))
n3 = int(input("Enter a number Three :"))
if n1>n2 and n1>n3:
    print("Biggest number is ", n1)
elif n2>n3:
    print("Biggest number is " ,n2)
else:
    print("Biggest number is ",n3)

Enter a number one :12
Enter a number Two :12
Enter a number Three :13
Biggest number is  13

In [3]:
num = int(input("Enter a number between 1 and 100 "))
if (num>=1) and (num<=100):
    print("Number is between 1 and 100 ")
else:
    print("Number is not in a range ")

Enter a number between 1 and 100 101
Number is not in a range

In [4]:
n1 = int(input("Enter a number one :"))
n2 = int(input("Enter a number Two :"))
n3 = int(input("Enter a number Three :"))
if n1<n2 and n1<n3:
    print("smallest number is ", n1)
elif n2<n3:
    print("smallest number is " ,n2)
else:
    print("smallest number is ",n3)

Enter a number one :10
Enter a number Two :20
Enter a number Three :30
Biggest number is  10

In [5]:
x  = range(10,0,-1)
for i in x:
    print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
list = eval(input("Enter a list "))
sum = 0
for x in list:
    sum+=x
print("The sum=",sum)

Enter a list 10,20,30,40,50
The sum= 150

In [1]:
n = int(input("Enter a number "))
sum = 0
i = 1
while i<=n:
    sum = sum + i
    i+=1
print("The sum of first",n,"number is:",sum)

Enter a number 10
The sum of first 10 number is: 55

In [4]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j,sep="")

i=0j=0
i=0j=1
i=0j=2
i=0j=3
i=1j=0
i=1j=1
i=1j=2
i=1j=3
i=2j=0
i=2j=1
i=2j=2
i=2j=3
i=3j=0
i=3j=1
i=3j=2
i=3j=3

In [5]:
n=int(input("Enter a number "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

Enter a number 5
*
**
***
****
*****

In [6]:
n=int(input("Enter a number "))
for i in range(1,n+1):
    print("*" *i)

Enter a number 5
*
**
***
****
*****

In [7]:
n=int(input("Enter a number "))
for i in range(1,n+1):
    print("" *(n-i),end="")
    print("*" * i)

Enter a number 5
*
**
***
****
*****

In [9]:
cart = [10,20,600,60,70]
for item in cart:
    if item>500:
        print("To place this order insurence must be required ")
        break
    print(item)

10
20
To place this order insurence must be required

In [12]:
cart = [10,20,500,700,70]
for item in cart:
    if item>=500:
        print("we cannot process this item ",item)
        continue
    print(item)

10
20
we cannot process this item  500
we cannot process this item  700
70

In [13]:
numbers = [10,20,0,5,0,30]
for n in numbers:
    if n==0:
        print("Hey how we can divide with zero..just skipping")
        continue
    print("100/{}={}".format(n,100/n))

100/10=10.0
100/20=5.0
Hey how we can divide with zero..just skipping
100/5=20.0
Hey how we can divide with zero..just skipping
100/30=3.3333333333333335

In [14]:
cart = [10,20,30,40,50]
for item in cart:
    if item>=500:
        print("we cannot process this item ",item)
        break
    print(item)
else:
    print("Congrats ...all items processed successfully")

10
20
30
40
50
Congrats ...all items processed successfully

# Accessing string by index method

In [25]:
s = input("Enter a string ")
i=0
for x in s:
    print("The character present at positive index {x} and at nEgative index {y} is {z}".format(x=i,y=i-len(s),z=x))
    i=i+1

Enter a string python programming is a fun
The character present at positive index 0 and at nEgative index -27 is p
The character present at positive index 1 and at nEgative index -26 is y
The character present at positive index 2 and at nEgative index -25 is t
The character present at positive index 3 and at nEgative index -24 is h
The character present at positive index 4 and at nEgative index -23 is o
The character present at positive index 5 and at nEgative index -22 is n
The character present at positive index 6 and at nEgative index -21 is
The character present at positive index 7 and at nEgative index -20 is p
The character present at positive index 8 and at nEgative index -19 is r
The character present at positive index 9 and at nEgative index -18 is o
The character present at positive index 10 and at nEgative index -17 is g
The character present at positive index 11 and at nEgative index -16 is r
The character present at positive index 12 and at nEgative index -15 is a
The character present at positive index 13 and at nEgative index -14 is m
The character present at positive index 14 and at nEgative index -13 is m
The character present at positive index 15 and at nEgative index -12 is i
The character present at positive index 16 and at nEgative index -11 is n
The character present at positive index 17 and at nEgative index -10 is g
The character present at positive index 18 and at nEgative index -9 is
The character present at positive index 19 and at nEgative index -8 is i
The character present at positive index 20 and at nEgative index -7 is s
The character present at positive index 21 and at nEgative index -6 is
The character present at positive index 22 and at nEgative index -5 is a
The character present at positive index 23 and at nEgative index -4 is
The character present at positive index 24 and at nEgative index -3 is f
The character present at positive index 25 and at nEgative index -2 is u
The character present at positive index 26 and at nEgative index -1 is n

# Accessing characters by using slice operator

In [16]:
s = "Learning Python is very very easy!!!"
print(s[1:8])
print(s[1:7])
print(s[1:])
print(s[:8])
print(s[1::])
print(s[::])
print(s[:])
print(s[1:20:2])
print(s[::-2])

earning
earnin
earning Python is very very easy!!!
Learning
earning Python is very very easy!!!
Learning Python is very very easy!!!
Learning Python is very very easy!!!
erigPto sv
!!seye rvs otPgire

# Write a program to access each character of string in forward and backward direction

In [2]:
s=input("Enter a string!!!!! ")
n=len(s)
i=0
print("Forward Direction ")
while i<n:
    print(s[i],end="")
    i+=1
print("\nBackward Direction")    
i-=1
while i>-n:
    print(s[i],end="")
    i-=1

Enter a string python is very easy compare to java
Forward Direction
python is very easy compare to java
Backward Direction
avaj ot erapmoc ysae yrev si nohtypavaj ot erapmoc ysae yrev si nohty

In [21]:
s = "Learning Python is very easy !!!"
print("Forward Direction ")
for i in s:
    print(i,end="")
print("\nForward Direction ")
for i in s[::]:
    print(i,end="")
print("\nBackward Direction ")    
for i in s[::-1]:
    print(i,end="")

Forward Direction
Learning Python is very easy !!!
Forward Direction
Learning Python is very easy !!!
Backward Direction
!!! ysae yrev si nohtyP gninraeL

In [22]:
s = input("Enter main string ")
subs = input("Enter sub string ")
if subs in s:
    print(subs,"is found in main string ")
else:
    print(subs,"is not found in main string ")

Enter main string Ashir is a good programmer
Enter sub string programmer
programmer is found in main string

# comparison of string

In [25]:
s1 = input("Enter first string ")
s2 = input("Enter second stirng ")
if s1==s2:
    print("Both string are equal ")
elif s1 < s2:
    print("First String is Less than second string ")
else:
    print("First String is greator than second string ")

Enter first string Ashir
Enter second stirng Afridi
First String is greator than second string

In [1]:
city = input("Enter your city Name ")
scity = city.strip()
if scity == "Kohat":
    print("Hello !!....Kohatiii ")
elif scity == "peshawar":
    print("Hello!!...From peshawar!!! ")
elif scity == "Mardan":
    print("Hello!!...From Mardan!!! ")
else:
    print("Invalid city you have entered ")

Enter your city Name Kohat
Hello !!....Kohatiii

# Finding Substrings

In [3]:
s = "Learning python is very easy "
print(s.find("python"))
print(s.find("java"))
print(s.find("r"))
print(s.rfind("r"))

9
-1
3
21

In [1]:
s="durgaravipavanshiva" #s.find(substring,bEgin,end)
print(s.find("a"))
print(s.find("a",7,15))
print(s.find("z",7,15)) #-1 means not found while using index() method its return ValueError

4
10
-1

In [2]:
s=input("Enter main string:")
subs=input("Enter sub string:")
try:
     n=s.index(subs)
except ValueError:
    print("substring not found")
else:
    print("substring found")

Enter main string:Learning python is easy
Enter sub string:python
substring found

# Program to display all positions of substring in a given main string

In [4]:
s=input("Enter main string:")
subs=input("Enter sub string:")
flag=False
pos=-1
n=len(s)
while True:
    pos=s.find(subs,pos+1,n)
    if pos==-1:
        break
    print("Found at position",pos)
    flag=True
if flag==False:
    print("Not Found")

Enter main string:aabbddffgghhjjkkllaassddhhaassaaddaaffaassaa
Enter sub string:a
Found at position 0
Found at position 1
Found at position 18
Found at position 19
Found at position 26
Found at position 27
Found at position 30
Found at position 31
Found at position 34
Found at position 35
Found at position 38
Found at position 39
Found at position 42
Found at position 43

In [5]:
s="abcabcabcabcadda"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,7))

6
4
2

In [6]:
s="Learning Python is very difficult"
s1=s.replace("difficult","easy") #s.replace(oldstring,newstring)
print(s1)

Learning Python is very easy

In [7]:
s="ababababababab"
s1=s.replace("a","b")
print(s1)

bbbbbbbbbbbbbb

In [8]:
s="abab"
s1=s.replace("a","b")
print(s,"is available at :",id(s))
print(s1,"is available at :",id(s1))
# original object is available and we can see new object which was created
# because of replace() method.

abab is available at : 2035613253808
bbbb is available at : 2035613168688

# Splitting of Strings

In [9]:
s="durga software solutions"
l=s.split()
for x in l:
    print(x)

durga
software
solutions

In [10]:
s="22-02-2018"
l=s.split('-')
for x in l:
    print(x)

22
02
2018

# Joining of Strings

In [11]:
t=('sunny','bunny','chinny')
s='-'.join(t)
print(s)

sunny-bunny-chinny

In [3]:
l=['hyderabad','singapore','london','dubai']
s=" ".join(l)
print(s)

hyderabad singapore london dubai

# Changing case of a String

In [13]:
s='learning Python is very Easy'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

# To check type of characters present in a string

In [14]:
print('Durga786'.isalnum()) #True
print('durga786'.isalpha()) #False
print('durga'.isalpha()) #True
print('durga'.isdigit()) #False
print('786786'.isdigit()) #True
print('abc'.islower()) #True
print('Abc'.islower()) #False
print('abc123'.islower()) #True
print('ABC'.isupper()) #True
print('Learning python is Easy'.istitle()) #False
print('Learning Python Is Easy'.istitle()) #True
print(' '.isspace()) #True

True
False
True
False
True
True
False
True
True
False
True
True

# Formatting the Strings

In [15]:
name='durga'
salary=10000
age=48
print("{} 's salary is {} and his age is {}".format(name,salary,age))
print("{0} 's salary is {1} and his age is {2}".format(name,salary,age))
print("{x} 's salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

durga 's salary is 10000 and his age is 48
durga 's salary is 10000 and his age is 48
durga 's salary is 10000 and his age is 48

# How to reverse a string

In [5]:
word = "PROGRAMMING"
for i in range(len(word)-1, -1,-1):
    print("Char at index ", i, " = ", word[i])
print(word[i], end='')

Char at index  10  =  G
Char at index  9  =  N
Char at index  8  =  I
Char at index  7  =  M
Char at index  6  =  M
Char at index  5  =  A
Char at index  4  =  R
Char at index  3  =  G
Char at index  2  =  O
Char at index  1  =  R
Char at index  0  =  P
P

# How to find a palindrom word

In [9]:
myString = "PROGRAMMING"
rev_word = ''
for i in range(-1, (len(word) * -1)-1, -1): #either also use #for i in range(len(word)-1, -1,-1):
          rev_word += word[i]
if(word == rev_word):
     print(myString," is a PALINDROM ")
else:
     print(myString," IS NOT A PALINDROM ")

PROGRAMMING  IS NOT A PALINDROM

# How to find the total number of word in string

In [10]:
text = input("Enter your Sentence : ")
print(len(text))
spc = 0
for ch in text:
    if(ch == ' '):
        spc += 1
print("Total No of Words : ", spc+1)

Enter your Sentence : Ashir is a good programmer
26
Total No of Words :  5

# How to find the most frequent character in string

In [ ]:
max_count = 0
most_frequent_char = None
user_string = input("Enter a string: ")

for char in user_string:
    count = 0
    for ch in user_string:
        
        if char == ch:
            count += 1
    if count > max_count:
        max_count = count
        most_frequent_char = char

if most_frequent_char:
    print(f"The most frequent character is '{most_frequent_char}'")
else:
    print("No characters in the string")

# Write a program to reverse the given String

In [3]:
# First way
s = input("Enter a string ")
i=len(s)-1
target = ""
while i>=0:
    target = target + s[i]
    i-=1
print(target)

Enter a string Ashir
rihsA

In [18]:
# second way
s=input("Enter Some String:")
print(''.join(reversed(s)))

Enter Some String:Ashir
rihsA

In [19]:
# Third way
s=input("Enter Some String:")
print(s[::-1])

Enter Some String:Ashir
rihsA

# Program to reverse internal content of each word

In [2]:
s = input("Enter a string ")
l = s.split()
leng=len(l)
print(leng)
l1=[]
i=0
while i<len(l):
    l1.append(l[i][::-1])
    i=i+1
output=" ".join(l1)
print(output)

Enter a string python programming is easy
4
nohtyp gnimmargorp si ysae

# Program to reverse order of words

In [6]:
s=input("Enter a string ")
#print(len(s))
l=s.split()
#print(len(l))
l1=[]
i=len(l) - 1
while i>=0:
    l1.append(l[i])
    i-=1
output=' '.join(l1)
print(output)

Enter a string python programming is very easy
31
5
easy very is programming python

# Write a program to print characters at odd position and even position for the given String?

In [23]:
s = input("Enter a string ")
i = 0
print("character at Even position ")
while (i < len(s)):
    print(s[i],end="")
    i = i+2
print()
print("character at odd position ")
i=1
while (i<len(s)):
    print(s[i],end="")
    i = i + 2

Enter a string Ashir is a good boy
character at Even position
Ahri  odby
character at odd position
si sago o

In [24]:
s=input("Enter Some String:")
print("Characters at Even Position:",s[0::2])
print("Characters at Odd Position:",s[1::2])

Enter Some String:Ashir is a good boy
Characters at Even Position: Ahri  odby
Characters at Odd Position: si sago o

# Write a program to sort the characters of the string and first alphabet symbols followed by numeric values

In [7]:
s=input("Enter a string ")
s1=''
s2=''
output=''
for x in s:
    if x.isalpha():
        s1=s1+x
    else:
        s2=s2+x
for x in sorted(s1):
    output=output+x
for x in sorted(s2):
    output=output+x
print(output)

Enter a string B4A1D3
ABD134

# Write a program for the following requirement
input: a4b3c2
output: aaaabbbcc

In [9]:
s=input("Enter a string ")
output=''
for x in s:
    if x.isalpha():
        output=output+x
        previous=x
    else:
        output=output+previous*(int(x)-1)
print(output)

Enter a string a4b3c2
aaaabbbcc

# Write a program to perform the following activity
input: a4k3b2
output:aeknbd

In [6]:
s=input("Enter a string ")
output=''
for i in s:
    if i.isalpha():
        output=output+i
        previous=i
    else:
        output=output+chr(ord(previous) + int(i))
print(output)

Enter a string a4k3b2
aeknbd

# Write a program to remove duplicate characters from the given input string?

In [9]:
s=input("Enter a string ")
l=[]
for x in s:
    if x not in l:
        l.append(x)
output=''.join(l)
print(output)

Enter a string AAABBBCCDDAABBEEAADDCCCFFFFFDDBBB
ABCDEF

# Write a program to find the number of occurrences of each character present in the given String?

In [10]:
s=input("Enter a stream of string ")
d={}
for x in s:
    if x in d.keys():
        d[x]=d[x]+1
    else:
        d[x]=1
for k,v in d.items():
    print("{} = {} Times ".format(k,v))

Enter a stream of string ABCABCABBCDE
A = 3 Times
B = 4 Times
C = 3 Times
D = 1 Times
E = 1 Times

# List Data structure

In [2]:
n=[1,2,3,4,5,6,7,8,9,10]
print(n[2:7:2])
print(n[4::2])
print(n[3:7])
print(n[8:2:-2])
print(n[8:2:-1])
print(n[4:100])

[3, 5, 7]
[5, 7, 9]
[4, 5, 6, 7]
[9, 7, 5]
[9, 8, 7, 6, 5, 4]
[5, 6, 7, 8, 9, 10]

# Traversing the elements of List

In [4]:
n=[1,2,3,4,5,6,7,8,9,10]
i=0
while i<len(n):
    print(n[i],end=',')
    i+=1

1,2,3,4,5,6,7,8,9,10,

In [10]:
n=[1,2,3,4,5,6,7,8,9,10]
print(len(n))
for x in n:
    if x%2==0:
        print(x,end=' ')

10
2 4 6 8 10

In [11]:
l=["A","B","C"]
x=len(l)
print(x)
for i in range(x):
    print(l[i],"is available at positive index: ",i,"and at negative index: ",i-x)

3
A is available at positive index:  0 and at negative index:  -3
B is available at positive index:  1 and at negative index:  -2
C is available at positive index:  2 and at negative index:  -1

# count() Function

In [12]:
n=[1,2,2,2,2,3,3]
print(n.count(1))
print(n.count(2))
print(n.count(3))
print(n.count(4))

1
4
2
0

# index() function

In [15]:
n=[1,2,2,2,2,3,3]
print(n.index(1))
print(n.index(2))
print(n.index(3))
print(4 in n)
print(n.index(4))

0
1
5
False

ValueError: 4 is not in list

# ii. Manipulating elements of List

# 1. append() function

In [16]:
list=[]
for i in range(101):
    if i%10==0:
        list.append(i)
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# 2. insert() function:

In [17]:
list = [1,2,3,4,5,6]
list.insert(1,888)
print(list)

[1, 888, 2, 3, 4, 5, 6]

In [19]:
n=[1,2,3,4,5,6]
n.insert(10,777)
n.insert(-10,888)
print(n)

[888, 1, 2, 3, 4, 5, 6, 777]

# 3. extend() function:

In [20]:
order1=["Chicken","Mutton","Fish"]
order2=["RC","KF","FO"]
order1.extend(order2)
print(order1)

['Chicken', 'Mutton', 'Fish', 'RC', 'KF', 'FO']

In [21]:
order1=["Chicken","Mutton","Fish"]
order1.extend("Mushroom")
print(order1)

['Chicken', 'Mutton', 'Fish', 'M', 'u', 's', 'h', 'r', 'o', 'o', 'm']

# remove() function

In [22]:
n=[10,20,10,30]
n.remove(10)
print(n)

[20, 10, 30]

In [23]:
n=[10,20,10,30]
n.remove(40)
print(n)

ValueError: list.remove(x): x not in list

# 5. pop() function:

In [24]:
n=[10,20,10,30]
print(n.pop())
print(n.pop())
print(n)

30
10
[10, 20]

In [25]:
n=[10,20,30,40,50,60]
print(n.pop()) #60
print(n.pop(3)) #40
print(n.pop(10))

60
40

IndexError: pop index out of range

# III. Ordering elements of List:

# 1. reverse():

In [26]:
n=[10,20,30,40]
n.reverse()
print(n)

[40, 30, 20, 10]

# 2. sort() function:

In [27]:
n=[20,5,15,10,0]
n.sort()
print(n)

[0, 5, 10, 15, 20]

In [28]:
s=["Dog","Banana","Cat","Apple"]
s.sort()
print(s)

['Apple', 'Banana', 'Cat', 'Dog']

In [29]:
n=[20,10,"A","B"]
n.sort()
print(n)

TypeError: '<' not supported between instances of 'str' and 'int'

# To sort in reverse of default natural sorting order:

In [30]:
n=[40,10,30,20]
n.sort()
print(n)
n.sort(reverse=True)
print(n)
n.sort(reverse=False)
print(n)

[10, 20, 30, 40]
[40, 30, 20, 10]
[10, 20, 30, 40]

# Aliasing and Cloning of List objects:

In [1]:
x=[10,20,30,40]
y=x
print(id(x))
print(id(y))

2288775992256
2288775992256

In [4]:
x=[10,20,30,40]
y=x
y[1]=777
print(x)
print(y)

[10, 777, 30, 40]
[10, 777, 30, 40]

In [ ]:
# To overcome this problem we should go for cloning

# 1. By using slice operator:

In [5]:
x=[10,20,30,40]
y=x[:] # slice operator
y[1]=777
print(y)
print(x)
print(id(x))
print(id(y))

[10, 777, 30, 40]
[10, 20, 30, 40]
2288775996608
2288772184192

# 2. By using copy() function:

In [34]:
x=[10,20,30,40]
y=x.copy()  # copy function
y[1]=777
print(y)
print(x)

[10, 777, 30, 40]
[10, 20, 30, 40]

# Using Mathematical operators for List Objects:

# 1. Concatenation operator(+):

In [36]:
a=[10,20,30]
b=[40,50,60]
c = a+b
s=a+[40]
print(c)
print(s)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40]

# 2. Repetition Operator(*):

In [37]:
x=[10,20,30]
y=x*3
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

# Nested List as Matrix

In [40]:
n=[[10,20,30],[40,50,60],[70,80,90]]
print("Elements by Row wise:")
for i in n:
    print(i)
print("\nElements by Matrix style:") 
for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end=" ")
    print()

Elements by Row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

Elements by Matrix style:
10 20 30
40 50 60
70 80 90

# List Comprehensions

In [2]:
s=[x*x for x in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
v=[2*x for x in range(1,6)]
print(v)

[2, 4, 6, 8, 10]

In [4]:
m=[x for x in s if x%2==0]
print(m)

[4, 16, 36, 64, 100]

In [6]:
words = ["peshawar","punjab","Balochistan","sindh","Gilgit Baltistan"]
l=[w[0] for w in words]
print(l)

['e', 'u', 'a', 'i', 'i']

In [8]:
num1=[10,20,30,40]
num2=[30,40,50,60]
num3=[i for i in num1 if i not in num2]
print(num3)

[10, 20]

In [9]:
# common elements present in num1 and num2
num3=[i for i in num1 if i in num2]
print(num3)

[30, 40]

In [11]:
words="the quick brown fox jumps over the lazy dog".split()
print(words)
l=[[i.upper(),len(i)] for i in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

# Q. Write a program to display unique vowels present in the given word?

In [12]:
vowels=['a','e','i','o','u']
word=input("Enter the word to search for vowels: ")
found=[]
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)
print(found)
print("The number of different vowels present in",word,"is",len(found))

Enter the word to search for vowels: durgasoftwaresolutions
['u', 'a', 'o', 'e', 'i']
The number of different vowels present in durgasoftwaresolutions is 5

# Tuple Data Structure

In [13]:
t = 10,20,30,40,50
print(t)
print(type(t))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [14]:
t=()
print(type(t))

<class 'tuple'>

In [15]:
t=(10)
print(type(t))

<class 'int'>

In [16]:
t=(10,)
print(type(t))

<class 'tuple'>

In [17]:
list=[10,20,30]
t=tuple(list)
print(t)

(10, 20, 30)

In [3]:
t=tuple(range(10,20,2))
print(t)

(10, 12, 14, 16, 18)

In [2]:
#work with tuple # immutable object

# empty tuple
#t1=()

# tuple failed to assignment and ausing append
#t1.append(3)
#ti[0]=3


# indexing also work
# iteration also work
# slicing also work

#t2=(10,20,30,40,50)
#print(len(t2))
#print(t2[2])

In [4]:
input_tuple=(1,2,3,4,5,6,7)
list=[]
for x in reversed (input_tuple):
    list.append(x)
output_tuple=tuple(list)

# Accessing elements of tuple:

# 1. By using index:

In [19]:
t=(10,20,30,40,50,60)
print(t[1])
print(t[-1])
print(t[-4])
print(t[10])

20
60
30

IndexError: tuple index out of range

# 2. By using slice operator:

In [21]:
t=(10,20,30,40,50,60)
print(t[2:5])
print(t[1:3])
print(t[:-5])
print(t[:100])
print(t[::2])
print(t[::-1])

(30, 40, 50)
(20, 30)
(10,)
(10, 20, 30, 40, 50, 60)
(10, 30, 50)
(60, 50, 40, 30, 20, 10)

# Mathematical operators for tuple:

# 1. Concatenation Operator(+):

In [22]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

# 2. Multiplication operator or repetition operator(*)

In [23]:
t1=(10,20,30)
t2= 2*t1
print(t2)

(10, 20, 30, 10, 20, 30)

# len()
To return number of elements present in the tuple

# count()
To return number of occurrences of given element in the tuple

# index()
returns index of first occurrence of the given element

# sorted()
To sort elements based on default natural sorting order

In [25]:
t=(40,10,30,20)
t1=sorted(t)
print(t1)

[10, 20, 30, 40]

In [26]:
t1=sorted(t,reverse=True)
print(t1)

[40, 30, 20, 10]

In [27]:
t1=sorted(t,reverse=False)
print(t1)

[10, 20, 30, 40]

# 5. min() and max() functions:

In [28]:
t=(40,10,30,20)
print(min(t))
print(max(t))

10
40

# Write a program to take a tuple of numbers from the keyboard and print its sum and average

In [32]:
t=eval(input("Enter Tuple of Numbers:"))
l=len(t)
sum=0
for i in t:
    sum+=i
print("The sum = " ,sum)
print("The average = " ,sum/l)

Enter Tuple of Numbers:10,20,30,40
The sum =  100
The average =  25.0

# Set Data Structure

In [33]:
s={10,20,30,40}
print(type(s))
print(s)

<class 'set'>
{40, 10, 20, 30}

In [34]:
l = [10,20,30,40,10,20,10]
s=set(l)
print(s)

{40, 10, 20, 30}

In [35]:
s=set(range(5))
print(s)

{0, 1, 2, 3, 4}

In [36]:
s={}
print(type(s))

<class 'dict'>

In [37]:
s=set()
print(s)
print(type(s))

set()
<class 'set'>

# Important functions of set:

# 1. add(x):

In [38]:
s={10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

# 2. update(x,y,z):

In [39]:
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

# 3. copy():

In [40]:
s={10,20,30}
s1=s.copy() # Remembered it is cloned object
print(s1)

{10, 20, 30}

# 4. pop():

In [41]:
s={10,20,30,40}
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

# 5. remove(x):

In [42]:
s={40,10,30,20}
s.remove(40)
print(s)
s.remove(50)

{10, 20, 30}

KeyError: 50

# 6. discard(x):

In [43]:
s={40,10,30,20}
s.discard(40)
print(s)
s.discard(50) # If the specified element not present in the set then we won't get any error.e

{10, 20, 30}

# 7.clear():

In [44]:
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

# Mathematical operations on the Set:

# 1.union():

In [45]:
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

# 2. intersection():

In [46]:
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

# 3. difference():

In [49]:
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)

print("\n",y.difference(x))
print(y-x)

{10, 20}
{10, 20}

 {50, 60}
{50, 60}

# 4.symmetric_difference():

In [51]:
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

# Membership operators: (in , not in)

In [2]:
s=set("Ashir")
print(s)
print('A' in s)
print('S' in s) # This is what python is case sensitive language
print('s' in s)
print('i' in s)
print('H' in s) # This is what python is case sensitive language

{'r', 'A', 'h', 's', 'i'}
True
False
True
True
False

# Set Comprehension

In [3]:
s={x*x for x in range(1,11)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [4]:
s={2*x for x in range(2,10,2)}
print(s)

{8, 16, 4, 12}

# Write a program to eliminate duplicates present in the list?

In [5]:
l=[10,20,30,10,20,40,30]
s=set(l)
print(s)

{40, 10, 20, 30}

In [7]:
l=[10,20,30,10,20,40,30]
l1=[]
for x in l:
    if x not in l1:
        l1.append(x)
print(l1)

[10, 20, 30, 40]

# Write a program to print different vowels present in the given word?

In [9]:
w=input("Enter word to search for vowel ").lower()
s=set(w)
v={'a','e','i','o','u'}
d=s.intersection(v)
print("The different vowel present in",w,"are",d)

Enter word to search for vowel ASHIR
The different vowel present in ashir are {'a', 'i'}

# Dictionary Data Structure

# Write a program to enter name and percentage marks in a dictionary and display information on the screen

In [13]:
rec={}
n=int(input("Enter number of students: "))
i=1
while i<=n:
    name=input("Enter Student Name: ")
    marks=input("Enter % Marks of Student: ")
    rec[name]=[marks]
    i+=1
print("Name of student" ,"\t ", "% marks of student") 
for x in rec:
    print("\t",x,"\t\t" ,rec[x])

Enter number of students: 2
Enter Student Name: Ashir
Enter % Marks of Student: 90%
Enter Student Name: Ashiq
Enter % Marks of Student: 98%
Name of student 	  % marks of student
	 90% 		 ['Ashir']
	 98% 		 ['Ashiq']

# How to update dictionaries?

In [14]:
d={100:"Ashir",200:"Ashiq",300:"Alam"}
print(d)
d[400]="shayan"
print(d)
d[200]="HABIB"
print(d)

{100: 'Ashir', 200: 'Ashiq', 300: 'Alam'}
{100: 'Ashir', 200: 'Ashiq', 300: 'Alam', 400: 'shayan'}
{100: 'Ashir', 200: 'HABIB', 300: 'Alam', 400: 'shayan'}

# How to delete elements from dictionary?

In [15]:
d={100:"Ashir",200:"Ashiq",300:"Alam"}
del d[300]
print(d)
del d[400]
print(d)

{100: 'Ashir', 200: 'Ashiq'}

KeyError: 400

In [16]:
d={100:"Ashir",200:"Ashiq",300:"Alam"}
d.clear()
print(d)

{}

In [17]:
d={100:"Ashir",200:"Ashiq",300:"Alam"}
print(d)
del d
print(d)

{100: 'Ashir', 200: 'Ashiq', 300: 'Alam'}

NameError: name 'd' is not defined

# Important functions of dictionary

# 1. dict():

In [18]:
d=dict([(100,"Ashir"),(200,"Afridi"),(300,"Alam")])
print(d)

{100: 'Ashir', 200: 'Afridi', 300: 'Alam'}

In [19]:
d=dict() 
print(d)

{}

# 2. len()
Returns the number of items in the dictionary

In [20]:
d=dict([(100,"Ashir"),(200,"Afridi"),(300,"Alam")])
print(len(d))

3

# 3. clear():
To remove all elements from the dictionary

# 4. get():

In [22]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
print(d[100])
#print(d[400]) KeyError  
print(d.get(100))
print(d.get(400))
print(d.get(100,"Guest"))
print(d.get(400,"Guest"))   #d.get(key,defaultvalue)

Ashir
Ashir
None
Ashir
Guest

# 3. pop():

In [24]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
print(d.pop(100))
print(d)
print(d.pop(400))

Ashir
{200: 'Afridi', 300: 'Alam'}

KeyError: 400

# 4. popitem():

In [25]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
print(d)
print(d.popitem())
print(d)

{100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
(300, 'Alam')
{100: 'Ashir', 200: 'Afridi'}

# 5. keys():

In [27]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
print(d.keys())
for k in d.keys():
    print(k)

dict_keys([100, 200, 300])
100
200
300

# 6. values():

In [28]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
print(d.values())
for k in d.values():
    print(k)

dict_values(['Ashir', 'Afridi', 'Alam'])
Ashir
Afridi
Alam

# 7. items():

In [29]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Alam'}
print(d.items())
for k in d.items():
    print(k)

dict_items([(100, 'Ashir'), (200, 'Afridi'), (300, 'Alam')])
(100, 'Ashir')
(200, 'Afridi')
(300, 'Alam')

# 8. setdefault():

In [5]:
d={100: 'Ashir', 200: 'Afridi', 300: 'Habib'}
print(d.setdefault(400,"Alam"))
print(d)
print(d.setdefault(100,"Ashiq"))
print(d)

Alam
{100: 'Ashir', 200: 'Afridi', 300: 'Habib', 400: 'Alam'}
Ashir
{100: 'Ashir', 200: 'Afridi', 300: 'Habib', 400: 'Alam'}

# 9 copy():
To create exactly duplicate dictionary(cloned copy)
d1=d.copy();

# 10 update():
d.update(x)
All items present in the dictionary x will be added to dictionary d

# Q. Write a program to take dictionary from the keyboard and print the sum of values?

In [8]:
d=eval(input("Enter dictionary:"))
s=sum(d.values())
print(s)

Enter dictionary:{'A':100,'B':200,'C':300}
600

# Q. Write a program to find number of occurrences of each letter present in the given string

In [15]:
word =input("Enter any word ")
d={}
for x in word:
    d[x]=d.get(x,0) + 1
print(d)    
for k,v in d.items():
    print(k,"occurred ",v,"times")

Enter any word aabbcc
{'a': 2, 'b': 2, 'c': 2}
a occurred  2 times
b occurred  2 times
c occurred  2 times

# Q. Write a program to find number of occurrences of each vowel present in the given string?

In [15]:
word=input("Enter any word: ")
vowels={'a','e','i','o','u'}
d={}
for x in word:
    if x in vowels:
        d[x]=d.get(x,0)+1
print(d)       
for k,v in sorted(d.items()):
    print(k,"occurred ",v,"times")

Enter any word: doganimaldoganimal
{'o': 2, 'a': 4, 'i': 2}
a occurred  4 times
i occurred  2 times
o occurred  2 times

# Q. Write a program to accept student name and marks from the keyboardand creates a dictionary. Also display student marks by taking student name as input?

In [10]:
n=int(input("Enter the number of students "))
d={}
for i in range(n):
    name=input("Enter Student Name: ")
    marks=input("Enter Student Marks: ")
    d[name]=marks
while True:
    name=input("Enter Student Name to get Marks: ")
    marks=d.get(name,-1)
    if marks==-1:
        print("student not found")
    else:
        print("The Marks of",name,"are",marks)
    option=input("Do you want to find another student marks[Yes|No]")
    if option=="No":
        break
print("Thanks for using our application")

Enter the number of students 5
Enter Student Name: sunny
Enter Student Marks: 90
Enter Student Name: banny
Enter Student Marks: 80
Enter Student Name: chinny
Enter Student Marks: 95
Enter Student Name: pinny
Enter Student Marks: 70
Enter Student Name: vinny
Enter Student Marks: 60
Enter Student Name to get Marks: sunny
The Marks of sunny are 90
Do you want to find another student marks[Yes|No]banny
Enter Student Name to get Marks: banny
The Marks of banny are 80
Do you want to find another student marks[Yes|No]No
Thanks for using our application

# Dictionary Comprehension:

In [11]:
squares={x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [12]:
double={x:2*x for x in range(1,10)}
print(double)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

# FUNCTIONS

# Q. Write a function to find factorial of given number?

In [13]:
def fact(num):
    result=1
    while num>=1:
        result=result*num
        num-=1
    return result
for i in range(1,6):
    print("The factorial of ", i,"is:",fact(i))

The factorial of  1 is: 1
The factorial of  2 is: 2
The factorial of  3 is: 6
The factorial of  4 is: 24
The factorial of  5 is: 120

# Returning multiple values from a function:

In [15]:
def add_sub(a,b):
    sum = a+b
    sub = a-b
    
    return sum,sub
x,y=add_sub(100,50)
print("The sum =",x)
print("The subtraction =",y)

The sum= 150
The subtraction= 50

In [16]:
def calc(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    divi=a/b
    return sum,sub,mul,divi
t=calc(100,50)
print("\nResult ")
for i in t:
    print(i)

Result
150
50
5000
2.0

# 1. positional arguments:

In [17]:
def sub(a,b):
    print(a-b)
sub(100,200)
sub(200,100)

-100
100

# 2. keyword arguments:

In [19]:
def wish(name,msg):
    print("Hello",name,msg)
wish(name="Ashir",msg="Godd Morning")
wish("Alam",msg="Good Luck")
wish("Ashiq","Good Evening")
#wish(name="Habib","Good Night") #SyntaxError: positional argument follows keyword argumen

Hello Ashir Godd Morning
Hello Alam Good Luck
Hello Ashiq Good Evening

# 3. Default Arguments:

In [20]:
def wish(name="Guest"):
    print("Hello",name,"Good Morning")
wish("Ashir")
wish()
wish("Alam")

Hello Ashir Good Morning
Hello Guest Good Morning
Hello Alam Good Morning

# 4. Variable length arguments:

In [21]:
def sum(*n):
    total=0
    for n1 in n:
        total=total+n1
    print("The sum =",total)
sum()
sum(10)
sum(10,20)
sum(10,20,39,30,40,50)

The sum = 0
The sum = 10
The sum = 30
The sum = 189

In [22]:
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,"=",v)
display(n1=10,n2=20,n3=30,n4=40)
display(name="Ashir",rollno=21,dep="BCS",Group="A")

n1 = 10
n2 = 20
n3 = 30
n4 = 40
name = Ashir
rollno = 21
dep = BCS
Group = A

In [23]:
def f(arg1,arg2,arg3=4,arg4=8):
     print(arg1,arg2,arg3,arg4)
f(2,3)
f(10,20,30,40)
f(25,50,arg4=100)
f(arg4=2,arg1=3,arg2=4)

2 3 4 8
10 20 30 40
25 50 4 100
3 4 4 2

# global keyword:

In [ ]:
#1. To declare global variable inside function
#2. To make global variable available to the function so that we can perform required modifications

In [24]:
a=10
def f1():
    a=777
    print(a)
def f2():
    print(a)
f1()
f2()

777
10

In [25]:
a=10
def f1():
    global a
    a=777
    print(a)
def f2():
    print(a)
f1()
f2()

777
777

In [2]:
def f1():
    b=10
    print(b)
def f2():
    print(b)
f1()
f2()

10

NameError: name 'b' is not defined

In [6]:
a=10
def f1():
    a=777
    print(a)
    print(globals()['a'])
f1()

777
10

# Recursive Functions

In [7]:
def factorial(n):
    if n==0:
        result=1
    else:
        result=n*factorial(n-1)
    return result
print("The factorial of 4 is =",factorial(4))
print("The factorial of 5 is =",factorial(5))

The factorial of 4 is = 24
The factorial of 5 is = 120

# Anonymous Functions:

# Write a program to create a lambda function to find square of given number?

In [8]:
s=lambda n:n*n
print("The square of 4 is",s(4))
print("The square of 5 is",s(5))

The square of 4 is 16
The square of 5 is 25

# Q. Lambda function to find sum of 2 given numbers

In [9]:
s=lambda a,b:a+b
print("The sum of Two number is",s(10,20))

The sum of Two number is 30

# Q. Lambda Function to find biggest of given values

In [10]:
s=lambda a,b:a if a>b else b
print("The Biggest of 10,20 is:",s(10,20))
print("The Biggest of 100,200 is:",s(100,200))

The Biggest of 10,20 is: 20
The Biggest of 100,200 is: 200

# Q. Program to filter only even numbers from the list by using filter() function?

In [1]:
def is_Even(x):
    if x%2==0:
        return True
    else:
        return False
l=[0,5,10,15,20,25,30]
l1=list(filter(is_Even,l))
print(l1)

[0, 10, 20, 30]

# with lambda Function:

In [1]:
l=[0,5,10,15,20,25,30]
s=lambda x:x%2==0
l1=list(filter(s,l))
print(l1)
l1=list(filter(lambda x:x%2!=0,l))
print(l1)

[0, 10, 20, 30]
[5, 15, 25]

# map() function:

# Without lambda

In [6]:
l=[1,2,3,4,5]
def doubleIt(x):
    return 2*x
l1=list(map(doubleIt,l))
print(l1)

[2, 4, 6, 8, 10]

# with lambda

In [7]:
l=[1,2,3,4,5]
s=lambda x:2*x
l1=list(map(s,l))
print(l1)

[2, 4, 6, 8, 10]

In [8]:
l=[1,2,3,4,5]
l1=list(map(lambda x:2*x,l))
print(l1)

[2, 4, 6, 8, 10]

In [10]:
l=[1,2,3,4,5]
l1=list(map(lambda x:x*x,l))
print(l1)

[1, 4, 9, 16, 25]

In [11]:
l1=[1,2,3,4]
l2=[2,3,4,5]
l3=list(map(lambda x,y:x*y,l1,l2))
print(l3)

[2, 6, 12, 20]

# reduce() function:

In [13]:
from functools import*
l=[10,20,30,40,50]
result=reduce(lambda x,y:x+y,l)
print(result)

150

In [14]:
result=reduce(lambda x,y:x*y,l)
print(result)

12000000

In [15]:
from functools import*
result=reduce(lambda x,y:x+y,range(1,101))
print(result)

5050

In [ ]:
#In Python every thing is treated as object.
#Even functions also internally treated as objects only.

In [17]:
def f1():
    print("Hello world")
f1() 
print(id(f1))

Hello world
2754623805120

# Function Aliasing

In [ ]:
#For the existing function we can give another name, which is nothing but function aliasing.

In [18]:
def wish(name):
    print("Good Morning....!!!! ",name)
greeting=wish
print(id(wish))
print(id(greeting))
greeting("Ashir")
wish("Habib Alam")

2754623807040
2754623807040
Good Morning....!!!!  Ashir
Good Morning....!!!!  Habib Alam

# Nested Functions

In [19]:
def outer():
    print("outer function started")
    def inner():
        print("inner function execution")
    print("outer function calling inner funtion ")
    inner()
outer()

outer function started
outer function calling inner funtion
inner function execution

In [21]:
def outer():
    print("outer function started")
    def inner():
        print("inner function execution")
    print("outer function returnning inner function")   
    return inner
f1=outer()
f1()
f1()
f1()

outer function started
outer function returnning inner function
inner function execution
inner function execution
inner function execution

# Generators

In [24]:
def mygen():
    yield 'A'
    yield 'B'
    yield 'c'
g=mygen()
print(type(g))

print(next(g))
print(next(g))
print(next(g))
print(next(g))

<class 'generator'>
A
B
c

StopIteration:

In [25]:
def countdown(num):
    print("start count down")
    while num>0:
        yield num
        num-=1
values=countdown(5)
for x in values:
    print(x)

start count down
5
4
3
2
1

In [27]:
def firstn(num):
    n=1
    while n<=num:
        yield n
        n+=1
values=firstn(10)
for x in values:
    print(x,end=' ')

1 2 3 4 5 6 7 8 9 10

In [30]:
def fib():
    a=0
    b=1
    while True:
        yield a
        a,b=b,a+b
for f in fib():
    if f>100:
        break
    print(f,end=' ')

0 1 1 2 3 5 8 13 21 34 55 89

# Generators vs Normal Collections wrt performance

In [32]:
import random 
import time
names = ['Ashir','Alam','Ashiq','Habib']
subjects = ['Python','Java','Blockchain']
def people_list(num_people):
    result=[]
    for i in range(num_people):
        person = {
            'id':i,
            'name': random.choice(names),
            'subject':random.choice(subjects)
        }
        result.append(person)
    return result
def people_generator(num_people):
    
    for i in range(num_people):
        person = {
            'id':i,
            'name': random.choice(names),
            'subject':random.choice(subjects)
        }
    yield person
t1=time.clock() 
people = people_generator(10000000)
t2=time.clock()
print('Took {}'.format(t2-t1))

AttributeError: module 'time' has no attribute 'clock'

# Modules

# Reloading a Module:

In [1]:
import time
from imp import reload
import module1
time.sleep(30)
reload(module1)
time.sleep(30)
reload(module1)
print("This is test file")

C:\Users\fm\AppData\Local\Temp\ipykernel_13788\936885477.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  from imp import reload

ModuleNotFoundError: No module named 'module1'

In [2]:
import module1
import module1
from imp import reload
reload(module1)
reload(module1)
reload(module1)
print("This is test module")

ModuleNotFoundError: No module named 'module1'

In [3]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit', 'reload', 'time']

In [4]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# Working with random module:

# 1. random() function:

In [5]:
from random import*
for i in range(10):
    print(random(),end=' :')

0.6141565453400188 :0.39605722454166725 :0.22143078753270973 :0.577648635133402 :0.9423535460996141 :0.7376900776118621 :0.4183230192753933 :0.8728831767065008 :0.8053470813623314 :0.9785013767796218 :

# 2. randint() function:

In [8]:
from random import*
for i in range(10):
    print(randint(1,5))

2
3
3
1
1
5
3
1
3
3

# 3. uniform():

In [9]:
from random import*
for i in range(10):
    print(uniform(1,10))

3.6386412053291095
3.495416775910061
3.9802834183323013
4.767205487458708
2.4453334866434013
4.070798588005362
3.4111721711912666
5.211450131904877
1.9713102633419095
5.877556542039584

# 4. randrange([start],stop,[step])

In [13]:
from random import*
for i in range(10):
    print(randrange(10),end=" ")

4 3 5 6 9 8 7 4 9 2

In [14]:
from random import*
for i in range(10):
    print(randrange(1,11,2),end=" ")

7 5 5 5 1 5 9 1 7 9

# 5. choice() function:

In [15]:
from random import*
list=["Sunny","Bunny","Chinny","Vinny","pinny"]
for i in range(10):
    print(choice(list))

pinny
Chinny
Chinny
Vinny
Sunny
Vinny
pinny
Vinny
pinny
Bunny

In [13]:
from random import*
for i in range(10):
    #seed(6)
    print(randint(1,5))

1
4
3
1
1
2
5
4
3
3

In [14]:
from random import*
for i in range(10):
    #seed(6)
    print(randint(1,5))

1
3
4
2
4
5
5
1
2
5