In [1]:
n=int(input("Enter number....!!!!!"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

Enter number....!!!!!5
*
**
***
****
*****

# OR

In [3]:
n=int(input("Enter number....!!!!!"))
for i in range(1,n+1):
    print("*"*i)

Enter number....!!!!!5
*
**
***
****
*****

In [2]:
n=int(input("Enter number...!!!!"))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print("*",end="")
    print()

Enter number...!!!!5
*****
****
***
**
*

In [4]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

Enter the number of rows: 5
1
22
333
4444
55555

In [5]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

Enter the number of rows: 5
1
12
123
1234
12345

In [9]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+i),end="")
    print()

Enter the number of rows: 5
A
BB
CCC
DDDD
EEEEE

In [11]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end="")
    print()

Enter the number of rows: 5
A
AB
ABC
ABCD
ABCDE

In [14]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(i,end=" ")
    print()

Enter the number of rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [15]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end="")
    print()

Enter the number of rows: 5
12345
1234
123
12
1

In [16]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+i),end="")
    print()

Enter the number of rows: 5
AAAAA
BBBB
CCC
DD
E

In [17]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(64+j),end="")
    print()

Enter the number of rows: 5
ABCDE
ABCD
ABC
AB
A

In [18]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-i,end="")
    print()

Enter the number of rows: 5
55555
4444
333
22
1

In [19]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(n+1-j,end="")
    print()

Enter the number of rows: 5
54321
5432
543
54
5

In [22]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(65+n-i),end="")
    print()

Enter the number of rows: 5
EEEEE
DDDD
CCC
BB
A

In [23]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(chr(65+n-j),end="")
    print()

Enter the number of rows: 5
EDCBA
EDCB
EDC
ED
E

In [3]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [7]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
         print(j,end=" ")
    print()

Enter the number of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [8]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(str(i)+" ")*i)
    print()

Enter the number of rows: 5
     1

    2 2

   3 3 3

  4 4 4 4

 5 5 5 5 5

In [13]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),(chr(64+i)+" ")*i,end=" ")
    print()

Enter the number of rows: 5
     A
    B B
   C C C
  D D D D
 E E E E E

In [14]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
         print(chr(64+j),end=" ")
    print()

Enter the number of rows: 5
    A
   A B
  A B C
 A B C D
A B C D E

# Diamond

In [5]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print("*",end=" ")
    print()

Enter the number of rows: 25
                         *
                        * *
                       * * *
                      * * * *
                     * * * * *
                    * * * * * *
                   * * * * * * *
                  * * * * * * * *
                 * * * * * * * * *
                * * * * * * * * * *
               * * * * * * * * * * *
              * * * * * * * * * * * *
             * * * * * * * * * * * * *
            * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * *
         * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * *
           * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * *
             * * * * * * * * * * * * *
              * * * * * * * * * * * *
               * * * * * * * * * * *
                * * * * * * * * * *
                 * * * * * * * * *
                  * * * * * * * *
                   * * * * * * *
                    * * * * * *
                     * * * * *
                      * * * *
                       * * *
                        * *
                         *

In [7]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print(n-p,end=" ")
    print()

Enter the number of rows: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
  4 4 4 4
   3 3 3
    2 2
     1

In [8]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print(q+p,end=" ")
    print()

Enter the number of rows: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5

In [9]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print(q,end=" ")
    print()

Enter the number of rows: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [10]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print(chr(64+n-p),end=" ")
    print()

Enter the number of rows: 5
     A
    B B
   C C C
  D D D D
 E E E E E
  D D D D
   C C C
    B B
     A

In [11]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print(chr(64+q+p),end=" ")
    print()

Enter the number of rows: 5
     A
    A B
   A B C
  A B C D
 A B C D E
  B C D E
   C D E
    D E
     E

In [12]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end=" ")
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()
for p in range(1,n):
    print(" "*p,end=" ")
    for q in range(1,n+1-p):
        print(chr(64+q),end=" ")
    print()

Enter the number of rows: 5
     A
    A B
   A B C
  A B C D
 A B C D E
  A B C D
   A B C
    A B
     A

In [24]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(i,i+1):
        print("*",end=" ")
        if i>=2:
            print(" "*(2*i-4),end="")
            for k in range(i,i+1):
                print("*",end=" ")
    print()    
for a in range(1,n+1):
    print(" "*(a-1),end="")
    for b in range(a,a+1):
        print("*",end=" ")
        if a<=10:
            print(" "*(2*n-2*a-2),end="")
            for k in range(a,a+1):
                 print("*",end=" ")
    print()

Enter the number of rows: 11
          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *                 *
*                   *
*                   *
 *                 *
  *               *
   *             *
    *           *
     *         *
      *       *
       *     *
        *   *
         * *
          *